# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# googletest
/lib

# Cmake
.cmake/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.ninja_deps
.ninja_log

game/CMakeFiles
game/Makefile
game/cmake_install.cmake
game/cmake_uninstall.cmake
game/vendor/glad/CMakeFiles
game/vendor/glad/Makefile
game/vendor/glad/cmake_install.cmake
game/vendor/glad/cmake_uninstall.cmake
game/vendor/glad/libglad.a

#Doxygen
*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb

/doxygen_docs
/doxygen.tag
/build*
/qtools_docs
/warnings.log

tags
.cache/

.idea
cmake-build-debug/
cmake-build-debug-event-trace/
.vscode/

/examples/html/*
/examples/latex/*
